/* Page */
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #2ca7a3, #084b7d);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navbar */
.navbar {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: 40px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.my-link {
    font-size: 22px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.my-link:hover {
    color: #ffeb3b;
    transform: scale(1.1);
}

/* Page Content */
.content {
    text-align: center;
    margin-top: 70px;
}

h1 {
    font-size: 80px;
    margin-bottom: 10px;
}

p {
    font-size: 22px;
}

/* Images */
.home-img {
    width: 260px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    transition: 0.4s;
}

.home-img:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0,0,0,0.6);
}
